body {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: sans;
	font-size: 13pt;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.container {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
}

a {
	margin-left: 8px;
	margin-right: 8px;
	text-decoration: none;
	color: #6D9FC9;
}

a:visited {
	text-decoration: none;
	color: #6D9FC9;
}

a:hover{
	text-decoration: none;
	color: #0b5fa5;
}

a:active{
	text-decoration: none;
	color: #ff4c00;
}

.links {
	font-weight: bold;
	color: #999;
	font-size: 20pt;
}

.lead {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	vertical-align: middle; 
}

.descript {
	display: table-cell;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
}

.descript-bg {
	display: table;
	margin: 0 auto;
	background-color: #FF9363;
	width: 100%;
	color: white;
	margin-bottom: 20px;
}
