body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

a {
	font-weight: bold;
	color: #6D9FC9;
}

a:visited {
	color: #6D9FC9;
}

a:hover{
	text-decoration: none;
	color: #0b5fa5;al
}

a:active{
	text-decoration: none;
	color: #ff4c00;
}

.navbar {
	background-color: #0b5fa5;
	border-color: #6D9FC9;
}
.navbar .navbar-brand {
	color: #ffffff;
	font-weight: bold;
	font-size: 25pt;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #ffffff;
}
.navbar .navbar-text {
	color: #ffffff;
}
.navbar .navbar-nav > li > a {
	color: #ffffff;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
	background-color: #6D9FC9;
	color: #ffffff;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #6D9FC9;
}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #6D9FC9;
}
.navbar .navbar-toggle {
	border-color: #6D9FC9;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #6D9FC9;
}
.navbar .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
	border-color: #ffffff;
}
.navbar .navbar-link {
	color: #ffffff;
}
.navbar .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #6D9FC9;
	}
}

.dfiltr-logo {
	clear: both;
	margin-bottom: 20px;
}

.lead {
	margin: 0 auto;
	text-align: center;
	width: 650px;
}
